#number{
    font-size:40px;
    color: green;
}

body{
 margin:0;
 background-color: bisque;   
}

a {
color:black;
text-decoration:none;

} 

h1 { 
font-size:120px; 
text-align: center;
border-bottom: 1px solid gray;
margin:0;
  font-family: 'Rubik', sans-serif;
  flex: 1;
  position: relative;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: url("tumblr_mhtyq0znUD1r3d8abo2_500.gif");
  background-size: cover;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
}


ol{
border-right: 1px solid gray;
width: 100px;
margin: 0;
padding: 20px;
}

#grid{
display:grid;
grid-template-columns: 150px 1fr;
}

#grid ol{
padding-left: 33px;
}

#grid #article{
padding-left:25px;
}

@media(max-width:800px){
#grid{
display:block;
}
ol{
border-right:none;
}
h1 { 
border-bottom:none;
}
}
.number{
    font-size:40px;
    color: green;
}

.active{
    color:red
}
